:root{
    --cor-fundo:(0, 0, 0, 0.795);
    --cor-texto:(0, 0, 0);
    --cor-principal:rgb(196, 188, 188);
    --cor-segundaria:azure;
    --cor-card:;
    --cor-superficie:(2, 111, 207);
    --cor-rodape:;
    --cor-clara:;white;
    --cor-legenda: rgb(17, 106, 184);
}
body {
    background-color: var(--cor-fundo);
    color: #f30a01;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: var(--cor-texto);
    color: var(--cor-clara)
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: var(--cor-principal);
}

p {
    font-size: 18px;
    line-height: 1.6;
}

nav {
    margin: 20px;
}

nav a {
    color: var(--cor-clara)
    text-decoration: none;
    background-color: var(--cor-segundaria);
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
}

nav a:hover {
    background-color: var(--cor-segundaria)
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: var(--cor-superficie)
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 30%;
    max-width: 2300px;
    display: block;
    margin: auto;
    border-radius: 11px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color:var(--cor-legenda);
    margin-top: 8px;
}

.card {
    background-color: #ff0000;
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid #0082d8;
    border-radius: 10px;
}

.card h3 {
    margin-top: 0;
}

footer {
    background-color: #00a5f1;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}


button {
    background-color: #f30a01;
    color: aliceblue;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color:var(--cor-segundaria);

}

.curtir {
    display: block;
    width: fit-content;
    margin: 20px;
}